


.modalBackground {
  /* width: 100vw; */
  /* height: 100vh; */
  
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
    left: 0;
    width: 96%;
    height: 100%;
    color: antiquewhite;
    z-index: 1;
    /* z-index: -1; */

}

.modalContainer {
  /* padding: 10px; */
  width: 90%;
  /*height: 85%; */
  border-radius: 15px;
  background-color: rgba(0,0,0,0.75);;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-around;
  /* z-index: -1; */
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  /* margin-top: 10px; */
  font-size: 30px;
  /* color: antiquewhite; */
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: antiquewhite;
}

.modalContainer .body {
  /* flex: 50%; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* font-size: 1.7rem; */
  text-align: center;
  max-height: 70%;
  /* height: 10%; */
  
}

.modalContainer .body .img {
  flex: 90%;
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  /* align-items: center; */
  /* font-size: 1.7rem; */
  /* text-align: center;  */
  /* height: 10%; */
  height:max-content;
  padding-bottom: 10px;
  
}

.modalContainer .footer {
  /* flex: 20%; */
  display: flex;
  justify-content:justify;
  align-items: center;
  color:antiquewhite ;
  max-width: 100%;
  text-align: justify;
  padding-left: 1%;
}


.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}

@media only screen and (max-width: 700px){
  .modalBackground {
    position: absolute;
  }
}
