.dropdown-menu {
  background: transparent;
  /* width: 200px; */
  position: absolute;
  padding-top: 10px;
  top: 70px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #419afa;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #00438b;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
