.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  justify-content: start;
  margin-right: 1rem;
  color: blue;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.Navbar{
  font-weight: 700;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  background-color: white;
  flex-direction: row;
  padding-bottom: 20px;
}

.Navbar .leftside{
  flex: 62%;
  display: flex;
  justify-content: left;
  align-items: center;
  display: grid;
}

.Navbar .leftside .Links{
  max-height: 80px;
}

.Navbar .leftside .Links a{
  text-decoration: none;
  /* color: white; */
  font-size: 25px;
  margin-left: 10px;
}

.Navbar .leftside button{
  display: none;
  margin-left: 20px;
}

.Navbar .leftside #hidden{
  display: flex;
  /* margin-left: 20px; */
}

.Navbar .rightside{
  flex: 38%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.Navbar .rightside #navlogo{
  height: 80px;
  display:flex;
  padding-top: 10px;
}

@media only screen and (max-width: 1200px){
  .Navbar .leftside .Links a{
      font-size: 20px;
      
  }
  .Navbar .rightside #navlogo{
    height: 68px;
}
}

@media only screen and (max-width: 1000px){
  .Navbar .leftside .Links a{
      font-size: 19.5px;
  }
  .Navbar .rightside #navlogo{
    height: 60px;
}
}

@media only screen and (max-width: 800px){
  .Navbar .leftside .Links a{
      font-size: 18px;
      margin-left: 0px;
  }
  .Navbar .rightside #navlogo{
      height: 50px;
  }
}

@media only screen and (max-width: 750px){
  .Navbar .leftside button{
      display: flex;
  }
  .Navbar .leftside .Links{
      display: none;
      background-color: #035b96;
      background-size: 100%; 
  }

  .Navbar .rightside #navlogo{
    height: 65px;
}

  .Navbar .leftside #hidden{
      position: absolute;
      left: 0px;
      top: 80px;
      max-height: 500PX;
      width: 100%;
      flex-direction: column;
      align-items: center;
  }

  .Navbar .leftside #hidden a{
      /* margin: 1px; */
      font-size: 25px;
      color: aliceblue;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(5, auto);
    grid-gap: 20px; */
    list-style: none;
    justify-content: center;
    margin-right: 2rem;
  }
}
